.title {
  width: 100%;
  position: relative;
  height: 40px;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid ;
}
.div-search{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-home{
  background-color:rgb(255, 255, 255) ;
}

.table-error{
  display: flex;
  flex-direction: column;

}
select{
  margin-top: 15px;
  width: 200px;
  height: 40px;
  color: #03045E;
  background-color: #CAF0F8;
  border-radius: 3px;
}
.div-icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:30px 30px;
}

.img-icon{  
  margin-right: 5px;
  width: 22px;
  height: 22px;
}

.span-icon{
  margin:30px 30px;
  background-color: #CAF0F8; 
  border-radius: 5px;
}
.span-icon:hover{
  background-color: #90E0EF;  
}

.search-input { 
  background-color: transparent;
  background-image: url(../../img/search.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;  
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #CAF0F8;  
}

.search-input::placeholder {
  color:#0077B6;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #0077B6;
  border-radius: 0;
  background-position: 100% center;  
}

table{
  width:95%;
  table-layout: fixed;
  margin: 15px 35px;  
}

.tbl-error{
  margin: 0 35px;
  background-color:#90E0EF; 
  border:  2px solid rgba(255,255,255,0.3); 
 }

th{
  padding: 10px;
  text-align: left;
  font-size: 20px;
  color:#03045E;
  border-bottom: 2px solid rgba(255,255,255,0.3);
}
th:first-child{
  width: 40px;
}
th:last-child{
width: 105px;
}
.th-icon{
   background-color: #CAF0F8; 
 }

 .th-icon:hover{
  background-color: rgb(113, 206, 223); 
 }

 td{
  padding: 10px;
  font-size: 15px;
  color:#03045E;
  border-bottom: 2px solid rgba(255,255,255,0.3);
 }

 tr{
   padding: 150px;
 }