.title {
  width: 100%;
  position: relative;
  height: 40px;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid ;
}
.div-search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto; 
  padding: auto; 
}

.container-home{
  background-color:rgb(255, 255, 255) ;
}

.table-error{
  display: flex;
  flex-direction: column;

}
select{
  width: 200px;
  height: 30px;
  color: #03045E;
  background-color: #CAF0F8;
  border-radius: 3px;
}
.div-icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:30px 30px;
}

.img-icon{  
  margin-right: 5px;
  width: 22px;
  height: 22px;
  transform: rotateY(180deg);
}

.span-icon{
  display: flex;
  margin:30px 30px;
  background-color: #CAF0F8; 
}
.span-icon:hover{
  background-color: #90E0EF;  

}

.search-input { 
  background-color: transparent;
  background-image: url(../../img/search.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;  
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #CAF0F8;  
}

.search-input::placeholder {
  color:#0077B6;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #0077B6;
  border-radius: 0;
  background-position: 100% center;  
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-error{
  background-color:#90E0EF; 
  border: 1px solid rgba(255,255,255,0.3); 
 }
/* .tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
} */
th{
  padding: 15px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color:#03045E;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
