h1,
span,
.forgot,
.account,
.link {  
  color:#03045E;
}

h1 {
  margin-top: 40px;
  font-size: 30px;
}

.container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.forgot,
.link{
  margin-top: 15px;
  font-size: 12px;
}

.forgot:hover,
.link:hover,
.account:hover {
  transform: scale(1.1);
}

.register:hover{
  background-color: #0077B6;
}

.img-logo{
  width: 350px;
  height: 200px;
}