h1,
h3,
span,
.forgot,
.account,
.link {  
  color:#03045E;
}

h1, h3 {
  margin-top: 30px;
  font-size: 30px;
}

.container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.forgot,
.link{
  margin-top: 15px;
  font-size: 12px;
}

.forgot:hover,
.link:hover,
.account:hover,
.register:hover{
  transform: scale(1.1);
  color:#00B4D8; 
}
.img-logo{
  width: 350px;
  height: 200px;
}
