.ckeckbox{  
  height: 28px;
  width: 28px;
  padding-left: 65px;


  /* border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0; */

}

