span,
h1, 
.link{
  font-family: 'Roboto Mono', monospace;
}

h1,
span,
.link{  
  color:#03045E;
}

h1 {
  margin-top: 40px;
  font-size: 40px;
}
.containerForgot {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.link{
  margin-top: 5px;
  font-size: 12px;
}

.link:hover{
  transform: scale(1.1);
}