.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #CAF0F8;
  width: 400px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 15px;
  display: block;  
  font-size: 15px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 00;
}

.input:hover {
  background-color: #90E0EF;
}

.input:focus {
  background-color: white;
  color: #03045E;
  width: 300px;  
}

