* {
  font-family: 'Helvetica';
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(219, 249, 255);
}

